@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    margin: 0;
    padding: 0;
    font-family: Pretendard ;
}

li {
    list-style: none;
}

a, a:visited, a:link {
    color: inherit;
    text-decoration: none;
}

button:hover{
    cursor: pointer;
  }

.container {
    margin: 0 auto;
    width: 60%;
    min-width: 600px;
    padding-top: 20px;
    height: 100vh;
    box-sizing: border-box;

    header{
        /* width: 100%; */
        height: 90px;
        background: rgb(60, 49, 75);
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;

        p{
            background: #fff;
            color: rgb(188, 146, 241);
            padding: 5px 6px;
            border-radius: 1.8rem;
            font-weight: bold;
            position: relative;
            a{
                padding: 10px 9px;  
            }
            a::after{
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.125 18.1251V13.7439C8.125 13.4376 8.4375 13.1251 8.75 13.1251H11.25C11.5625 13.1251 11.875 13.4376 11.875 13.7501V18.1251C11.875 18.2909 11.9408 18.4499 12.0581 18.5671C12.1753 18.6843 12.3342 18.7501 12.5 18.7501H17.5C17.6658 18.7501 17.8247 18.6843 17.9419 18.5671C18.0592 18.4499 18.125 18.2909 18.125 18.1251V9.37514C18.1251 9.29301 18.1091 9.21165 18.0778 9.13573C18.0465 9.0598 18.0005 8.99079 17.9425 8.93264L16.25 7.24139V3.12514C16.25 2.95938 16.1842 2.80041 16.0669 2.6832C15.9497 2.56599 15.7908 2.50014 15.625 2.50014H14.375C14.2092 2.50014 14.0503 2.56599 13.9331 2.6832C13.8158 2.80041 13.75 2.95938 13.75 3.12514V4.74139L10.4425 1.43264C10.3844 1.37444 10.3155 1.32826 10.2395 1.29675C10.1636 1.26524 10.0822 1.24902 10 1.24902C9.91779 1.24902 9.83639 1.26524 9.76046 1.29675C9.68453 1.32826 9.61556 1.37444 9.5575 1.43264L2.0575 8.93264C1.9995 8.99079 1.95353 9.0598 1.92221 9.13573C1.8909 9.21165 1.87485 9.29301 1.875 9.37514V18.1251C1.875 18.2909 1.94085 18.4499 2.05806 18.5671C2.17527 18.6843 2.33424 18.7501 2.5 18.7501H7.5C7.66576 18.7501 7.82473 18.6843 7.94194 18.5671C8.05915 18.4499 8.125 18.2909 8.125 18.1251Z' fill='%23BC92F1'/%3E%3C/svg%3E%0A");
                
                content: "";
                width: 20px;
                height: 20px;
                position: absolute;
                left: 5px;
                top: 3.5px;
            }
        }
    }

    nav {
        margin: 14px 0;

        >ul {
            display: flex;

            a, a:visited, a:link {
                color: #5e2f9c;
                padding: 5px;
                border: 1px solid #5e2f9c;
                border-radius: 2rem;
                text-decoration: none;
                margin: 1rem 0.2rem 1rem 0;
                padding: 6px 12px;
                font-size: 0.8rem;
                font-weight: bold;

                &:hover {
                    background: #5e2f9c; 
                    color: #fff;
                    transition: all 0.3s;
                }
            }
        }
    }

    section ul {
        li {
            list-style: none;
            padding: 16px;
            color: #222;
            font-weight: bold;
            background: rgb(226, 223, 241);
            margin: 0.5rem 0;
            border-radius: 4px;

            a:hover{
                color: #4b3291;
                transition: all 0.3s;
            }
        }
    }
}

