@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.title {
  width: 100%;
  min-height: 60px;
  background: #f8caaf;
  /* border: 2px solid #ff453c; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
  border: 1px solid #f8caaf;
  border-bottom: 0;
  padding: 30px;
  box-sizing: border-box;

}

.inputWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  /* background-color: #ff453c; */
  border-radius: 0 0 4px 4px;
  border: 1px solid #f8caaf;
  border-top: 0;
  padding: 60px 30px;
  box-sizing: border-box;


  .inputBox {
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 40px;
    margin-bottom: 20px;

    label{
      font-weight: bold;
      font-size: 1.8rem;
      /* color: #fff; */
      padding-left: 10px;
    }

    #txt2{
      background: #e0e0e0;
    }
  }

  input, select {
    width: 200px;
    padding: 0 10px;
    box-sizing: border-box;
    height: 100%;
    border: 1px solid #222;
    outline: 0;
  }

  select{
    background-position: calc(100% - 10px) center;
  }
}