* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.wrap {
    margin: 0 auto;
    width: 60%;
    min-width: 600px;
    padding-top: 20px;
    height: 100vh;
    box-sizing: border-box;

    h1 {
        background: rgb(0, 0, 0);
        text-align: center;
        padding: 1.4rem 0;
        color: white;
        border-radius: 4px;
    }

    nav {
        margin: 14px 0;

        >ul {
            display: flex;

            a, a:visited, a:link {
                color: #5e2f9c;
                padding: 5px;
                border: 1px solid #5e2f9c;
                border-radius: 2rem;
                text-decoration: none;
                margin: 1rem 0.2rem 1rem 0;
                padding: 6px 12px;
                font-size: 0.8rem;
                font-weight: bold;

                &:hover {
                    background: #5e2f9c; 
                    color: #fff;
                    transition: all 0.3s;
                }
            }
        }
    }

    >ul {
        li {
            list-style: none;
            padding: 16px;
            color: #222;
            font-weight: bold;
            background: rgb(226, 223, 241);
            margin: 0.5rem 0;
            border-radius: 4px;
        }
    }
}