@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.title {
  width: 100%;
  min-height: 60px;
  background: #e9e8f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
  border: 1px solid #d5d5d9;
  border-bottom: 0;
  padding: 30px;
  box-sizing: border-box;

}

.inputWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  /* background-color: #ff453c; */
  border-radius: 0 0 4px 4px;
  border: 1px solid #d5d5d9;
  border-top: 0;
  padding: 60px 30px;
  box-sizing: border-box;

  .inputBox {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 40px;    
    margin-bottom: 20px;

    input {
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box;
      height: 100%;
      border: 1px solid #c5c1d3;
      background-color: #e3e3f7;
      border-radius: 4px;
      outline: 0;
      font-size: 1.4rem;
    }
  }

  .btnBox{
    width: 100%;
    display: flex;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 10px;

    button{
      width: 24%;
      height: 40px;
      padding: 10px;
      border-radius: 4px;
      border: 0;
      margin-bottom: 10px;
    }
  }
  .addBox button{
    background-color: rgb(62, 62, 177);
    color: white;
    &:hover{
      background: rgb(92, 92, 207);
    }
  }
  .deleteBox button{
    background-color: rgb(255, 255, 255);
    color: rgb(62, 62, 177);
    font-weight: bold;
    border: 1px solid rgb(62, 62, 177);
    &:hover{
      background: rgb(218, 218, 243);
    }
  }
  .changeBox button{
    background-color: rgb(218, 218, 243);
    color: rgb(62, 62, 177);
    font-weight: bold;
    &:hover{
      background: rgb(176, 176, 233);
    }
  }
 
}